.footer{
    background-color: var(--footer-bg);
}

.footerTop{
    display: flex;
    width: 70%;
    margin: 0 auto;
    /* justify-content: space-evenly; */
    gap: 10%;
    color: var(--font-color);
    padding: 50px 30px;
}

.footerTop h3{
    font-size: 1.2rem;
}


.quickLinks .links{
    margin-bottom: 10px;
    transition: all 0.1s ease-in-out;
    font-family: var(--para);
    
    &:hover{
        color: var(--secondary);
        font-weight: 550;
    }
}



.companyInfo .ph,.mail, .address{
    margin-bottom: 10px;
}

.companyInfo .faIconsFooter{
    margin-right: 10px;
    font-size: 20px;
}

.companyInfo img{
    width: 150px;
}

.companyInfo{
    width: 40%;
}

.companyInfo h4{
    margin: 10px 0;
}

.companyInfo .address{
    display: flex;
}

.quickLinks, .servicesList{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    list-style: none;
    
}

.footerTop h3{
    font-weight: 800;
    margin-bottom: 10px;
}

.servicesList li{
    margin-bottom: 10px;
    font-family: var(--para);
    list-style: none;
}
.footer .line{
    background-color: rgba(128, 128, 128, 0.479);
    height: 1px;
    width: 95%;
    margin: 0 auto;
}

.footer h6{
    color: var(--font-color);
    text-align: center;
    padding: 40px;
}
