

.head .icon{
    font-size: 30px;
}

.service-type{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-type .btns{
    width: 100%;
    position: relative;
    bottom: 0;
    
    
}


.service-type .btns button{
    font-size: 0.8rem;
    transition: all 0.1s ease-in-out;
    &:hover{
        
        transform: scale(0.95);
    }
    
}





