/* app/globals.css */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ffffff;
  --secondary: #E00000;
  --dim-secondary: #ff00009c;
  --font-color: black;
  --bg-content: #f1f1f1d7;
  --dim-color: #6868689d;
  --logo-bg: #EBF2FE;
  --dim-font: #56626D;
  --footer-bg: #ffffff;


 
  --bold1: "Rubik Mono One", monospace;
  --bold2: "Staatliches", sans-serif;
  --bold3: "Squada One", sans-serif;
  --bold4: "Teko", sans-serif;
  --bold5: "Archivo Black", sans-serif;
  --bold6: "Pathway Gothic One", sans-serif;
  --bold7: "Tilt Warp", sans-serif;
  --btn: "Comfortaa", sans-serif;
  --p1: "Sulphur Point", sans-serif;
  --para: "Tilt Neon", sans-serif;
  --p2: "MuseoModerno", sans-serif;
  --p3: "Genos", sans-serif;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  user-select: none;
  background: var(--background);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: none;

}

h4{
    font-family: var(--para);
}

p{
    margin-top: 20px;
}


.h6{
    background-color: rgba(114, 114, 114, 0.301);
    padding: 1px 8px;
    border-radius: 10px;
    font-size: 12px;
    font-family: var(--para);
}


h1{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    color: var(--font-color);
    margin-top: 20px;
    font-family: var(--bold4);
}

h1 span{
    color: var(--secondary);
    font-size: 4rem;
    font-family: var(--bold5);
    text-transform: uppercase;
}


p{
    text-align: center;
    margin-top: 50px;
    font-family: var(--para);
    color: var(--font-color);
}


.btns{
    width: 50%;
    margin-top: 50px;
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    font-family: var(--btn);
}

.btns button{
    background-color: var(--secondary);
    padding: 10px 20px;
    border-radius: 25px;
    color: var(--primary);
    font-weight: 700;
    overflow: hidden;
}

button:last-child{
    background-color: var(--primary);
    color: var(--font-color);
    border: 1px solid var(--font-color);
}

.arrow{
    margin-left: 10px;
    transition: all 1s ease-in-out;
    font-size: 15px;
    font-weight: 700;
    animation: move 1s infinite backwards;
    position: relative;
    left: 20px;
    
}

button:hover .arrow{
    transform: translateX(200px);
}

@keyframes move{
    0%{
        left: 0px;
    }
    50%{
        left: 10px;
    }
    100%{
        left: 0px;
    }
}

.faIconsFooter{
    margin-right: 10px;
    font-size: 20px;
}
