
.servicePageContainer{
    height: 40vh;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150Deg, #EDF4FE, rgb(231, 228, 221,0.568));
}

.story{
    display: grid;
    grid-template-columns: 60% 35%;
    margin: 60px;
    gap: 5%;
    transition: all 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.storyAbout h1, .storyAbout p{
    text-align: left;
}

.storyAbout p{
    margin-top: 20px;
}

.coreValuesContainer{
    padding: 60px;
    background-color: var(--bg-content);
}

.coreValues{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    margin-top: 40px;

}

.value{
    border: 1px solid var(--dim-color);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.2s ease-in-out;
    background-color: var(--primary);
    &:hover{
        box-shadow: 0px 5px 5px 0px rgba(128, 128, 128, 0.445) ;
    }
}

@media screen and (max-width:1200px){
    .coreValues{
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
    }
}

.value .Icon{
    width: 40px;
    height: 40px;

    padding: 20px;
    background-color: var(--dim-secondary);
    border-radius: 100%;
}

.value h4{
    margin-top: 20px;
    font-size: 1.1rem;
    text-wrap: nowrap;
    font-family: var(--bold7);
}

.value p{
    margin-top: 20px;
}


.missionVision{
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.mission, .vision{
    border: 1px solid var(--dim-color);
    padding: 20px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    background-color: var(--primary);
    &:hover{
        box-shadow: 0px 5px 5px 0px rgba(128, 128, 128, 0.445) ;
    }
    
}

.mission h2, .vision h2{
    font-family: var(--bold7);
    font-size: 1.3rem;
}

.mission p, .vision p{
    text-align: left;
    font-family: var(--para);
    margin-top: 20px;
}

.missionVision .icon{
    margin-right: 10px;
}


@media screen and (max-width:1200px){
    .story{
        display: flex;
        flex-direction: column;
    }

    .storyAbout{
        margin-bottom: 60px;
    }
}

