
.main{
    height: 69vh;
    color: var(--font-color);
    background: linear-gradient(150Deg, #EDF4FE, rgb(231, 228, 221,0.568));
    z-index: -1;
}

.main-content{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}


.h6{
    background-color: rgba(114, 114, 114, 0.301);
    padding: 1px 8px;
    border-radius: 10px;
    font-size: 12px;
    font-family: var(--para);
}


h1{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    color: var(--font-color);
    margin-top: 20px;
    font-family: var(--bold4);
}

h1 span{
    color: var(--secondary);
    font-size: 4rem;
    font-family: var(--bold5);
    text-transform: uppercase;
}


p{
    text-align: center;
    margin-top: 50px;
    font-family: var(--para);
    color: var(--font-color);
}

.btns{
    width: 50%;
    margin-top: 50px;
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    font-family: var(--btn);
}

.btns button{
    background-color: var(--secondary);
    padding: 10px 20px;
    border-radius: 25px;
    color: var(--primary);
    font-weight: 700;
    overflow: hidden;
}

button:last-child{
    background-color: var(--primary);
    color: var(--font-color);
    border: 1px solid var(--font-color);
}



.arrow1,.arrow2{
    margin-left: 10px;
    transition: all 1s ease-in-out;
    font-size: 15px;
    font-weight: 700;
    animation: move 1s infinite backwards;
    position: relative;
    left: 0;
    
}

.arrow2{
    color: red;
}

button:hover .arrow1,.arrow2{
    transform: translateX(200px);
}

@keyframes move{
    0%{
        left: 0px;
    }
    50%{
        left: 10px;
    }
    100%{
        left: 0px;
    }
}