

.servicePageContainer{
    height: 40vh;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150Deg, #EDF4FE, rgb(231, 228, 221,0.568));
}

.servicePageContainer .h6{
    width: fit-content;
    text-align: center;
}

.securityTypes{
    padding: 10px 0px 60px 0px;
}


.securityTypes h4{
    text-align: center;
}

.typesSecurity{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
    padding: 0 20px;
}

.labourTypes{
    background-color: var(--bg-content);
    padding: 20px 0 60px 0;
}

.labourTypes h4{
    text-align: center;
}

.typesLabour{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
    padding: 0 20px;
}

.serviceProcess{
    text-align: center;
    padding: 0 50px 50px;
}

.process{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: 40px;
    margin: 30px auto;
    margin-top: 60px;
}



.process div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.process div .round{
    margin: 0;
    background-color: var(--dim-secondary);
    padding: 20px 30px;
    border-radius: 100%;
    color: var(--primary);
}

.process div h4{
    margin-top: 10px;
    font-weight: 800;
    font-size: 1.2rem;

}

.process div p{
    margin-top: 10px;
}

.customSolution{
    background-color: var(--secondary);
    color: var(--primary);
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customSolution h1{
    color: var(--primary);
}

.btns button{
    background-color: var(--primary);
    color: var(--font-color);
    padding: 10px ;
}